ion-skeleton-text {
  margin-bottom: 10px;
}

.img-co {
  position: relative;
}
.img-co img.sold-ba {
  position: absolute;
  width: 130px;
  max-width: 50%;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.f-more-data .u-term {
  padding: 2px 7px;
  background: #dadada;
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
  border-radius: 6px;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.f-more-data .u-term ion-icon {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.f-more-data .pdf {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.more-info ion-icon {
  -webkit-margin-end: 7px;
          margin-inline-end: 7px;
  color: #484848;
}

.p-content ::ng-deep img {
  width: 100%;
  height: auto;
}

.fe-icons .u {
  padding: 12px 0 40px;
}
.fe-icons ion-icon {
  margin: auto;
  margin-bottom: 5px;
  font-size: 1.7em;
}
.fe-icons .t {
  font-size: 0.8em;
  line-height: 1;
}

.units .g1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.units ion-card {
  width: calc(50% - 20px);
  margin: 0 10px 25px;
}
.units ion-card-content {
  padding: 0;
}
.units ion-card-header {
  padding: 5px 10px;
}
.units ion-card-title {
  font-size: 1em;
}
.units img.sold-ba {
  position: absolute;
  width: 180px;
  max-width: 60%;
  top: 40%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.se-title-co {
  background: #dadada;
  padding: 6px;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 100%;
}
.se-title-co .se-title {
  margin: 0;
}

.FollowProject .more-info {
  background: #dadada;
  padding: 6px;
  border-radius: 50px;
}
.FollowProject .more-info .se-title {
  margin: 0;
}

.video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.video-list:not(.vid-l-1) ion-card {
  width: calc(50% - 20px);
  margin: 0 10px 25px;
}
.video-list ion-card {
  margin-top: 0;
}
.video-list ion-card-content {
  padding: 0 !important;
}
.video-list ion-card-content img {
  width: 100%;
}
.video-list ion-card-header {
  padding: 5px;
  text-align: center;
}
.video-list ion-button {
  --padding-top: 2px;
  --padding-bottom: 2px;
}
.video-list ion-card-title {
  font-size: 1em;
}

.comments .title {
  font-size: 1.15em;
  margin: 0 0 10px;
}
.comments ion-grid, .comments ion-col {
  padding: 0;
}

.new-comments, .cu-comments {
  border-top: 1px solid #cecece;
}

.cu-comments .unit {
  background: #f8f8f8;
  padding: 12px;
}
.cu-comments .unit .c-img {
  -webkit-padding-end: 12px;
          padding-inline-end: 12px;
  width: 60px;
  min-width: 60px;
}
.cu-comments .unit:nth-of-type(2n) {
  background: #ececec;
}
.cu-comments .unit .date {
  font-size: 0.7em;
  padding: 3px;
}

ion-fab-button {
  --border-radius: 61px !important;
  width: 125px;
  height: 38px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 6px;
}
ion-fab-button.hotline {
  font-family: sans-serif;
  font-size: 25px;
}
ion-fab-button ion-icon {
  font-size: 90%;
  -webkit-margin-start: 4px;
          margin-inline-start: 4px;
}
/*# sourceMappingURL=single.page.css.map */