<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'P_TITLES.'+typeToP | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <div class="data" *ngIf="pageContent" [innerHTML]="pageContent | safe: 'html'">
    </div>
  </ion-content>
</ion-content>
